.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
}

.svg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.roomText {
    font-size: 80px;
    font-weight: bolder;
    transform: skewX(-40deg) rotate(11deg) translate(1212px, 730px);
}